{% extends 'base.html' %}

{% block content %}

<h2>New Application</h2>
<p>Create new applications for resident and vital services</p>

<div class="card-grid">

    <div class="card">
        <h4>ID Card</h4>
        <p>Apply, renew, or replace ID cards.</p>
    </div>

    <div class="card">
        <h4>Data Change</h4>
        <p>Update personal records.</p>
    </div>

    <div class="card">
        <h4>Transfer</h4>
        <p>Move residence records.</p>
    </div>

    <div class="card">
        <h4>Document Authentication</h4>
        <p>Verify official documents.</p>
    </div>

</div>

{% endblock %}
